/* ================
Resuable component
=================== */
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #777777;

  /* max-width: 1140px; */
}
span {
  color: #ff1078;
  font-size: 2.3em;
  font-weight: 700;
  margin-top: 7px;
}
#hello-text {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  margin-top: 20px;
  margin-bottom: -10px;
}

.section-4 {
  min-height: 650px;
  min-width: 1140px;
  background-image: url("./img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-3 {
  min-height: 600px;
  min-width: 1140px;
  background-image: url("./img/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================
section-1
=================== */
.section-1 {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 800px;
  min-width: 1140px;
  /* background-position: center; */
}
.box {
  width: 45%;

  justify-content: left;
}

.lside {
  margin-left: 5%;
  padding-top: 18%;
  padding-left: 9.5%;
  margin-right: -1%;
}
.rside {
  margin-right: 10%;
}

.rside img {
  width: 100%;
  padding-top: 23%;
  margin-left: -1%;
}
.long-text {
  font-size: 0.82em;
  margin-top: 7%;
  margin-bottom: 10%;
}

.btn {
  color: white;
  background-image: linear-gradient(to right, #ff041f 0%, #ff1078 100%);
  padding: 13px 42px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

/* section2 */
.section-2 {
  background-image: url("./img/biography-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 800px;
  min-width: 1140px;
}

.box2 {
  width: 45%;

  justify-content: left;
}

.lside2 {
  margin-left: 5%;
}

.rside2 {
  margin-right: 10%;
}

.lside2 img {
  width: 85%;
  padding-left: 80px;
  padding-top: 100px;
}

#bio-text {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  margin-top: -20px;
}

.comp {
  margin-top: 220px;
  padding-left: 80px;
}

.long-text2 {
  font-size: 0.82em;
  margin-top: 4%;
  margin-bottom: 9%;
}

.last-work {
  background-image: url("./img/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.flx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-height: 600px;
  min-width: 1140px; */
  height: 500px;
}

/* .last-work img {
  width: 86%;
  float: left;
} */
.pic {
  width: 350px;
  margin: 25px;
}

/* #pic1 {
  margin-left: 30%;
}
.pic2 {
  padding-left: 30%;
}
#pic3 {
  margin-right: 12%;
} */
/* #pic1 {
  margin-left: 10%;
  padding-left: 10%;
}
#pic2 {
  margin-left: 10%;
  padding-left: 10%;
} */
#last {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-top: 100px;
}

#client {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-top: 40px;
  position: relative;
  margin-bottom: 60px;
  padding-top: 20px;
}
#bruce,
#found,
#lorem,
#btn,
#prog,
#copy {
  text-align: center;
}

#bruce {
  font-size: 0.7em;
  font-weight: 700;
  color: #000000;
  margin-bottom: 3px;
  padding-top: 20px;
}
#found {
  font-size: xx-small;
  margin-bottom: 50px;
}
#lorem {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 40px;
  padding-top: 20px;
}

/* #btn {
  color: white;
  background-color: #8845f4;
  padding: 13px 42px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 10px;
} */
button {
  color: white;
  background-image: linear-gradient(to right, #ff509c 0%, #ff1078 100%);
  padding: 22px 42px;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
}

#btnm {
  padding-top: 20px;
  font-size: 0.1px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
}
#copy {
  margin-top: 300px;
}
