/* ================
Resuable component
=================== */
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #777777;

  /* max-width: 1140px; */
}
span {
  color: rgb(230, 116, 178);
  font-size: 2.3em;
  font-weight: 700;
  margin-top: 7px;
}
#hello-text {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  margin-top: 20px;
  margin-bottom: -10px;
}

section {
  /* padding: 80px 0; */
  min-height: 800px;
  min-width: 1140px;
}

/* ================
section-1
=================== */
.section-1 {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* background-position: center; */
}
.box {
  width: 45%;
  border: 1px solid blue;
  justify-content: left;
}

.lside {
  margin-left: 5%;
  padding-top: 18%;
  padding-left: 9.5%;
  margin-right: -1%;
}
.rside {
  margin-right: 10%;
}

.rside img {
  width: 100%;
  padding-top: 23%;
  margin-left: -1%;
}
.long-text {
  font-size: 0.82em;
  margin-top: 7%;
  margin-bottom: 10%;
}

.btn {
  color: white;
  background-color: #8845f4;
  padding: 13px 42px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

/* section2 */
.section-2 {
  background-image: url("./img/biography-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.box2 {
  width: 45%;
  border: 1px solid blue;
  justify-content: left;
}

.lside2 {
  margin-left: 5%;
}

.rside2 {
  margin-right: 10%;
}

.lside2 img {
  width: 85%;
  padding-left: 80px;
  padding-top: 100px;
}

#bio-text {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  margin-top: -20px;
}

.comp {
  margin-top: 220px;
  padding-left: 80px;
}

.long-text2 {
  font-size: 0.82em;
  margin-top: 4%;
  margin-bottom: 9%;
}

.last-work {
  background-image: url("./img/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.flx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* min-height: 600px;
  min-width: 1140px; */
  height: 500px;
}

/* .last-work img {
  width: 86%;
  float: left;
} */
.pic {
  width: 350px;
  margin: 25px;
}

/* #pic1 {
  margin-left: 30%;
}
.pic2 {
  padding-left: 30%;
}
#pic3 {
  margin-right: 12%;
} */
/* #pic1 {
  margin-left: 10%;
  padding-left: 10%;
}
#pic2 {
  margin-left: 10%;
  padding-left: 10%;
} */
#last {
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-top: 80px;
}

#client {
  margin-top: 0;
}
